 @mixin borda-arredondada ($raio:0.3em){
  -webkit-border-radius: $raio;
  -moz-border-radius:$raio;
  -o-border-radius:$raio;
  -ms-border-radius:$raio;
  border-radius: $raio;
 }

 @mixin borda-arredondada-2{
  -webkit-border-radius: $raio_2;
  -moz-border-radius:$raio_2;
  -o-border-radius:$raio_2;
  -ms-border-radius:$raio_2;
  border-radius: $raio_2;
 }

//  @mixin sombra-padrao{
//   box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//   -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//  }

 %img-replacement{
   text-indent: -9999px;
   overflow: hidden;
   background-repeat: no-repeat;
 }
@mixin espacamento{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@function default-width($size:18px){
  @return round($size * $size-padrao);
}

%sombra-padrao{
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}
@import "compass/css3";
@import "compass/utilities";
