$cor-padrao:saturate(#A52A2A,0);
$cor-aux:lighten(#1e2c35,30);
$raio:0.3em;
$raio_2:1em;

$xs-widht:600px;
$md-widht:768px;
$lg-widht:992px;
$xl-widht:1200px;
$size-padrao:16px;

$media-large:"(max-width:992px)";
