$cor-fundo:#DBDBDB;
$cor-fundo-branca:#ffffff;
$cor-fundo-header:#dedede;
$cor-fundo-menu:black;

/*TEXTOS*/
$cor-titulo-white:#ffffff;
$cor-titulo-black: black;
$cor-transtorno-aprendizagem-titulo:#ED6E2E;
$cor-titulo-motora:#E2B759;
$cor-titulo-autismo:#FF7BAC;
$cor-def-visual-titulo-dalt-tipo:red;
$cor-def-aud-titulo-video:darkgreen;
$cor-link-externo:red;
$cor-paragrafo-secundario:gray;
$cor-paragrafo-span-alert:#D30918;
$cor-paragrafo-span-alert_second:red;
$cor-paragrafo-span-success:#00C437;
$cor-paragrafo-span-warning:#EF8F11;
$cor-paragrafo-span-info:#3FA9F5;
$cor-paragrafo-span-second:#E6E6E6;
$cor-fonte-quote:red;
$cor-quote:lightgray;

$cor-dislexia:#662483;
$cor-disgrafia:#E3ED18;
$cor-discalculia:#FC24FC;
$cor-tdah:#FC9706;



/*Listas*/
$cor-lista-item:gray;
$cor-lista-item-titulo:blue;
$cor-lista-daltonismo-item:#E80C41;

$cor-lista-item-success:#0EE57F;
$cor-lista-item-info:#228FF2;
$cor-lista-item-warning:#FFF061;
$cor-lista-sudez-total:green;


$cor-lista-item-menu-link:white;
$cor-lista-item-menu-ativo:red;
$cor-lista-item-menu-hover:gray;

/*Bordas*/

$cor-borda-quote:gray;
$cor-borda-menu:gray;
$cor-borda-btn-def-intelectual:black;


/*Gradientes*/
$cor-banner-gradiente-1:#ffffff;
$cor-banner-gradiente-2:black;

/*shadows*/
$cor-sombra-header:gray;