@media(min-width:$breakpoint-xsm) and (max-width:$breakpoint-smd) {
    .header{
        background-color: $cor-fundo-header;
        height: 80px;
        width: 100%;
        padding-top: 15px;
        box-shadow: 0 0 7px $cor-sombra-header;
        z-index: 999;
        position: fixed;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    .header_titulo{
        font-weight: bolder;
        font-size: 1em;
        content: none;
        width: 50px;
    }
    .header_titulo-imagem{
        width: 100%;
        cursor: pointer;
        text-indent: -9999px;
    }
}
@media(min-width:$breakpoint-sm_p1){
    .header{
        display: flex;
        align-items: flex-start;
        align-content: start;
        padding-left: 20px;
    }
}