@media(min-width:$breakpoint-xsm) {
    .acessibilidade{
        background-color:  $cor-fundo-branca;
        height: auto;
        width:100%;
        padding-bottom: 30px;
        padding-top: 10px;
    }
}