@media(min-width:$breakpoint-xsm) {
    .deficiencia_auditiva{
        background-color: $cor-fundo-branca;
        height: auto;
        width:100%;
        padding-bottom:30px;
        padding-top: 10px;
        &_wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: flex-start;
            padding:30px;
        }
        &_video{
            height: 215px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom:15px;
        }
    }
    .icone_deficiencia_auditiva{
        height: 40px;
            width: 40px;
            margin:0 auto;
            &_rotate{
                transform: rotateY(180deg);
            }
    }
}
@media(min-width:$breakpoint-sm_p1){
    .deficiencia_auditiva{
        &_video{
            height: 260px !important;
        }
    }
}