@media(min-width:$breakpoint-xsm) and (max-width:$breakpoint-sm) {
    .main_produto{
        position: relative;
        top: 108px;
        padding-bottom: 134px;
    
    }
    .produtos{
        &_lista_imagens{
            border-radius: 5px;
            border:1px solid lightgray;
            margin-top:5px;
            z-index: -99999;
        }
        &_lista_titulo{
            text-transform: uppercase;
           font-weight: bold;
           font-family: 'Josefin Slab',serif;
           font-size: 26px;
           margin-top: 14px;
           padding-bottom: 5px;
        }
        &_descricao{
            line-height: 1.7em;
            font-size: 1.79em;
            font-style: italic;
        }
        &_valor{
            line-height: 1.7em;
            font-size: 1.5em;
            color:orangered
        }
    }
}
@media(min-width:$breakpoint-sm_p1){
    .main_produto{
        position: relative;
        top: 120px;
        padding-bottom: 134px;
    
    }
    .produtos{
        &_lista_imagens{
            border-radius: 5px;
            border:5px solid lightgray;
            margin-top:5px;
            z-index: -99999;
        }
        &_lista_titulo{
            text-transform: uppercase;
           font-weight: bold;
           font-family: 'Josefin Slab',serif;
           font-size: 26px;
           margin-top: 14px;
           padding-bottom: 5px;
        }
        &_descricao{
            line-height: 1.7em;
            font-size: 1.79em;
            font-style: italic;
        }
        &_valor{
            line-height: 1.7em;
            font-size: 1.5em;
            color:orangered
        }
    }
}