@media(min-width:$breakpoint-xsm) {
    .icone_transtorno_aprendizagem{
        height: 40px;
            width: 40px;
            margin:0 auto;
            &_rotate{
                transform:rotateY(180deg);
            }
    }
    .transtorno_aprendizagem{
        background-color: $cor-fundo-branca;
        height: auto;
        width:100%;
        padding-top:10px;
        padding-bottom:30px;
        &_wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: flex-start;
            padding:30px;
            &_right{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: flex-end;
                align-content: center;
                &_spacing{
                    padding-top:65px;
                }
                &_spacing_second{
                    padding-top:89px;
                }
            }
            &_left{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: center;
                padding-bottom:20px;
                &_spacing{
                    padding-top:65px;
                }
                &_spacing_second{
                    padding-top:90px;
                }
        }
        &_span_dislexia{
            color:$cor-dislexia;
            font-size:1.1em;
        }
        &_span_discalculia{
            color:$cor-discalculia;
            font-size:1.1em;
        }
        &_span_disgrafia{
            color:$cor-disgrafia;
            font-size:1.1em;
        }
        &_span_tdah{
            color:$cor-tdah;
            font-size:1.1em;
        }
    }
    }
}